version: "3.7"

services:
    phrase-counter:
        build:
            dockerfile: Dockerfile.dev
            context: .
        image: phrase-counter
        container_name: phrase_detector
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: rootpass
            MONGO_USERNAME: root
            MONGO_PASSWORD: rootpass
            MONGO_PHRASE_DB: phrase_db
            MONGO_PHRASE_COL: common_phrase
            MONGO_HOST: db
            MONGO_PORT: 27017
            API_KEY: 27def524e3f
        volumes:
            - .:/app/
            - /app/.venv
        ports:
            - "8000:80"
    db:
        image: mongo
        container_name: db
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: rootpass
            MONGO_USERNAME: root
            MONGO_PASSWORD: rootpass
            MONGO_PHRASE_DB: phrase_db
            MONGO_PHRASE_COL: common_phrase
            MONGO_HOST: db
            MONGO_PORT: 27017
        ports:
            - 27017:27017
        volumes:
            - ./data/mongo:/data/db
