version: "3.7"

services:
    phrase-counter:
        build:
            dockerfile: Dockerfile.dev
            context: .
        image: phrase-counter
        container_name: phrase_detector
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
            MONGO_USERNAME: ${MONGO_USERNAME}
            MONGO_PASSWORD: ${MONGO_PASSWORD}
            MONGO_COLLECTION: ${MONGO_COLLECTION}
            MONGO_HOST: ${MONGO_HOST}
            MONGO_PORT: ${MONGO_PORT}
        volumes:
            - .:/app
        ports:
            - "8000:80"
    db:
        image: mongo
        container_name: db
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
            MONGO_USERNAME: ${MONGO_USERNAME}
            MONGO_PASSWORD: ${MONGO_PASSWORD}
            MONGO_COLLECTION: ${MONGO_COLLECTION}
            MONGO_HOST: ${MONGO_HOST}
            MONGO_PORT: ${MONGO_PORT}
        ports:
            - 27017:27017
        volumes:
            - ./data/mongo:/data/db
        # command: mongosh -u ${MONGO_INITDB_ROOT_USERNAME} -p ${MONGO_INITDB_ROOT_PASSWORD} --authenticationDatabase admin

    adminer:
        image: dockette/adminer:mongo
        ports:
            - 8080:80
